<div fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card class="example-card" *ngFor='let product of products'>
    
    <img mat-card-image src="{{product.photo}}">
    <mat-card-content>
      <p>Model:{{product.id}}</p>
      <p>{{product.name}}</p>
      <p>Rs.{{product.price}}</p>
    </mat-card-content>
    <mat-card-actions>
      <a [routerLink]="['/carts',{id:product.id}]"><button mat-button>ADD TO CART</button></a>
      <button mat-button>BUY NOW</button>
    </mat-card-actions>
  </mat-card>
 
</div>